<!DOCTYPE html>
<html>
  <head>
    <title>SF movies</title>
    <link rel='stylesheet' href='/css/style.min.css' />
  </head>
  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeZAKaK5UwQvtWn5bSjqz-OkrDbfSa9lU" type="text/javascript"></script>
    <% if (dev) { %>
      <script src="/js/bundle.js"></script>
    <% } else { %>
      <script src="/js/bundle.min.js"></script>
    <% } %>
  </body>
</html>
