html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.map-search-container circle {
  stroke: #5691EC;
}

.map-search-container .loader {
  position: absolute;
  top: -2px;
  right: 20.2%;
  z-index: 2;
}

.map-search-container .displayNone {
  display: none;
}

.map-search-container, .map-search-container > .map-container {
  height: 100%;
}

.map-search-container > .searchbar-container {
  position: absolute;
  top: 1.5em;
  left: 10em;
  z-index: 1;
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  box-shadow: 6px 6px 10px 0px #525252;
  max-height: 40px;
}

.map-search-container > .searchbar-container > input[type=text] {
  height: 40px;
  font-size: 1em;
  width: 80%;
  border: 1px solid #B7B7B7;
  padding: 10px 47px 10px 10px;
  box-sizing: border-box;
}

.map-search-container > .searchbar-container > .btn {
  display: inline-block;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -1px;
  width: 20%;
  color: #fff;
  background-color: #33ACFF;
  font-size: 0.9em;
  line-height: 0;
  box-sizing: border-box;
  border: 1px solid #099BFF;
  border-left: none;
}

.map-search-container > .searchbar-container > .btn:hover {
  background-color: #5EBAF9;
  border: 1px solid #33ACFF;
  border-left: none;
  cursor: pointer;
}

.map-search-container > .searchbar-container > .autocompletions-container {
  background-color: white;
  width: 80%;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: 6px 6px 10px 0px #525252;
}

.map-search-container > .searchbar-container > .autocompletions-container li {
  padding: 5px;
  margin-bottom: 5px;
}

.map-search-container > .searchbar-container > .autocompletions-container li:hover {
  cursor: pointer;
  background: #ccc;
  color: white;
}
